.container {
  display: flex;
  width: 100%;
  gap: 1rem;
  flex-wrap: wrap;
}

.front {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}

.front h1 {
  color: white;
  font-size: 22px;
}

.back h1 {
  font-size: 18px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(152.5deg, #102E84 5.41%, #54B2CB 93.42%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
