body {
  font-family: "Gellix", sans-serif;
  font-size: 16px;
}

.Home {
   background-color: var(--midnight-blue);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding-top: 10vh;
  padding-bottom: 10vh;
  display:flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: center;
  gap:10vh;
}

span.wc_demo {
  font-family: "Gellix";
  font-size: 20vh;
  font-weight: 900;
  color: var(--white);
  margin-left: var(--medium-gap);
}

.design-gallery {
  display: flex;
  gap: var(--medium-gap);
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}
